{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Dashboard</h1>

<p>{{ app.user.email}}</p>
<p>{{ app.user.username}}</p>

<a href="" class="btn btn-primary">Add a flat</a>
{% endblock %}
